<h1 style="color: red">Breaking News</h1> <%= Time.now%>

<div class="container" style="background: grey">
  <h1 style="color: brown", align="center"> 佈告欄 </h1>
</div>

文章分類：
<%= link_to ""
<!-- # < @categories.each do |c| %> -->
<%#= c.name, :category => c %>


<table>
  <caption style="background: red"> 即時訊息 </caption>
  <thead>
    <tr>
      <th>文章標題</th>
      <th>分類</th>
      <th>作者</th>
      <th>建立時間</th>
      <th>內容</th>
      <th>回覆</th>
      <th>詳細內容</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @newmessages.each do |n| %>
    <tr style="background: grey">
      <td><%= n.topic %></td>
      <td><%= n.category_name %></td>
      <td><%= n.user.try(:last_name) %></td>
      <td><%= n.created_at %></td>
      <td><%= n.content %></td>
      <td><%= n.comments.size %></td>
      <td>
          <%= link_to "進入", newmessage_path(n),:class => "btn btn-primary" %>
      </td>
      <td>
          <%= link_to "編輯", edit_newmessage_path(n),:class => "btn btn-primary" %>
      </td>
      <td>
          <%= link_to "刪除", newmessage_path(n), :method => :delete,  :data => { :confirm => "Are You Sure?" }, :class => "btn btn-danger" %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>


<%= paginate @newmessages %>





<hr>

<p><%= link_to '發表文章', new_newmessage_path %></p>



