<h2><%= "文章標題：" + @newmessage.topic%></h2>
<%= "發布時間 :" %>
<%=  @newmessage.created_at %>


<hr>

<%= "類別: " + @newmessage.category.name %>
<hr>
 <%= "發表內容： "%>

    <%= simple_format(@newmessage.content)%>


<% if false %>

<% end %>
<hr>
<%= link_to "新增回覆", new_newmessage_comment_path(@newmessage)%>


    <p><%= link_to 'Back to index', newmessages_path %></p>
